name: Coverity

on:
  push:
    branches:
      - coverityScan

jobs:
  scan-linux:
    runs-on: ubuntu-18.04
    if: github.repository == 'DX-MON/rSON'
    strategy:
      fail-fast: false
    steps:
      - name: Runtime environment
        shell: bash
        env:
          WORKSPACE: ${{ github.workspace }}
        run: |
          echo "PATH=$HOME/.local/bin:$PATH" >> $GITHUB_ENV
          echo "GITHUB_WORKSPACE=`pwd`" >> $GITHUB_ENV
      - name: Setup GCC
        shell: bash
        run: |
          CXX=${CC/#gcc/g++}
          sudo apt-add-repository ppa:ubuntu-toolchain-r/test
          sudo apt-get update
          sudo apt-get install $CC $CXX
          echo "CC=$CC" >> $GITHUB_ENV
          echo "CXX=$CXX" >> $GITHUB_ENV
          echo "GCOV=${CC/#gcc/gcov}" >> $GITHUB_ENV
        env:
          CC: gcc-11
      - name: Checkout rSON
        uses: actions/checkout@v2
        with:
          lfs: true
          submodules: true
      - name: Setup Meson + Ninja
        shell: bash
        run: |
          sudo pip3 install --upgrade pip setuptools wheel
          pip3 install --user meson ninja
        working-directory: ${{ runner.temp }}
      - name: Version tools
        shell: bash
        run: |
          $CC --version
          $CXX --version
          $GCOV --version
          meson --version
          ninja --version
      - name: Install Coverity
        shell: bash
        run: |
          .github/installCoverity.sh
        env:
          COVERITY_SCAN_TOKEN: ${{ secrets.COVERITY_SCAN_TOKEN }}
          COVERITY_PROJECT_NAME: DX-MON/rSON
      - name: Run Coverity
        shell: bash
        run: |
          meson build --prefix=$HOME/.local
          cov-build --dir cov-int ninja -C build
        env:
          COVERITY_SCAN_TOKEN: ${{ secrets.COVERITY_SCAN_TOKEN }}
      - name: Upload Coverity
        shell: bash
        run: |
          VERSION=`meson introspect build --projectinfo | jq -r '.["version"]'`-`git rev-parse --short HEAD`
          tar cJf rSON.tar.xz cov-int
          curl --form token=${{ secrets.COVERITY_SCAN_TOKEN }} \
            --form email=dx-mon@users.sourceforge.net \
            --form file=@rSON.tar.xz \
            --form version=$VERSION \
            --form description="A JSON parser written in C++ and designed for simplicity of both use and using the results" \
            https://scan.coverity.com/builds?project=${COVERITY_PROJECT_NAME}
      - name: Debug
        if: failure()
        shell: bash
        run: cat cov-int/build-log.txt
